*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0
/book-ready.pdf
/book.pdf
/hayamiz/bib/*.pdf
/book-ready-uncompress.pdf
/styling/*.pdf
/cover.eps
/cover.ai
/cover-half.ai
/cover-half copy.pdf
/book-notombo.tex
/book-notombo-ready.pdf
/book-notombo.pdf
/cover-half-web.eps
/cover-half.pdf
/digital/sample*.png
/digital/dbtimes-vol01.pdf
/digital/dbtimes-vol01.zip
/digital/dbtimes-vol01/
